#title1 {
 
  bottom: 0; 
  position: absolute;
  background: rgba(255, 255, 255, .3); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity: 1;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  max-width: auto;
  text-align: center;

}

#title {
	color: red;

}
#subTitle {
 color: black;
 margin-bottom: 10px;

}
#newspaperImage {

	max-width: 100%;
	padding: 0 auto;

}

.jumbotron {
	position: relative;
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
}

#topic.form-control {
	border-style: inset;
	border-width: 2px;

	


}
#start-year.form-control {
	border-style: inset;
	border-width: 2px;
	
}

#end-year.form-control {
	border-style: inset;
	border-width: 2px;
	
}


form {
	
}

.form-control {
	color: blue;
	border-style: solid;
	
}
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.2); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}



* {
	box-sizing: border-box;
}
